.my_margin {
    margin: 10px 0px 10px 0px;
}

.reactiveForm {
    text-align: center;
    margin-top: 25px;
}

.drink-creation-label {
    font-size: 30px;
    font-variant: small-caps;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
}

#submit {
    width: 10%; 
    background-color: red;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

#upload-drink {
    width: 25%; 
    background-color: red;
    color: white;
    position: relative;
    transform: translate(-20%, 300%);
}

#submit:hover, #clear-btn:hover, #upload-drink:hover {
    background-color: rgba(0,0,0,.2);
    color: black;
}

#upload-drink:focus {
    box-shadow: none;
}

.radio-margin {
    margin-right: 20px;
}

#loader {
    color: #008cff;
    font-family:  'Helvetica Neue','calibiri';
    font-size: 16px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
 .e-code-mirror::before {
    content: '\e345';
}
.CodeMirror-linenumber,
.CodeMirror-gutters {
    display: none;
}

.char_block.e-active {
    /* box-shadow: inset 3px 3px 7px 0px; */
    outline: 1.5px solid;
}

.char_block {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.e-rte-quick-popup .e-rte-quick-toolbar .e-roatate-left::before {
    content: "\e76e";
}

.e-rte-quick-popup .e-rte-quick-toolbar .e-roatate-right::before {
    content: "\e726";
}

.e-richtexteditor textarea.e-content {
  float: left;
}
.e-richtexteditor .e-rte-content {
  overflow: hidden;
}
.e-rte-content .e-content.e-pre-source{
  width: 100%;
}

.e-icon-btn.e-active .e-md-preview::before {
    content: '\e350';
}

.e-icon-btn .e-md-preview.e-icons::before {
    content: '\e345';
}