<div class="drink-creation-label">Podnošenje zahteva za izdavanje digiatlnog zelenog sertifikata</div>
<form class="reactiveForm" [formGroup]="registrationFormGroup" (ngSubmit)="createRequest()">
    <div class="row">
        <div class="col-3"></div>
        
        <div class="col-6">

            <div class="form-group row my_margin">
                <label for="firstName" class="col-3 col-form-label">Odaberite opciju:</label>
                <div class="col-6">
                    <select class="form-control" [ngModel]="selectedValue" 
                    [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
                        <option *ngFor="let option of options">
                           {{ option }}
                        </option>
                    </select>
                </div>
            </div>
            
            <div *ngIf="selectedValue === 'Drzavljanin Republike Srbije'" 
                class="form-group row my_margin">
                <label for="userId" class="col-3 col-form-label">JMBG:</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="userId" placeholder="Unesite jmbg"
                        formControlName="userId" />
                    <small class="text-danger"
                        *ngIf="f['userId'].touched && f['userId'].errors && f['userId'].errors['required']">
                        Potrebno je da unesete Vaš jmbg.</small>
                </div>
            </div>

            <div *ngIf="selectedValue === 'Strani drzavljanin bez boravka u RS'" 
                class="form-group row my_margin">
                <label for="firstName" class="col-3 col-form-label">Broj pasoša:</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="userId" placeholder="Unesite broj pasoša"
                        formControlName="userId" />
                    <small class="text-danger"
                        *ngIf="f['userId'].touched && f['userId'].errors && f['userId'].errors['required']">
                        Potrebno je da unesete Vaš broj pasoša.</small>
                </div>
            </div>
            
            <div class="form-group row my_margin">
                <label for="firstName" class="col-3 col-form-label">Ime:</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="firstName" placeholder="Unesite ime"
                        formControlName="firstName" />
                    <small class="text-danger"
                        *ngIf="f['firstName'].touched && f['firstName'].errors && f['firstName'].errors['required']">
                        Potrebno je da unesete Vaše ime.</small>
                </div>
            </div>

            <div class="form-group row my_margin">
                <label for="lastName" class="col-3 col-form-label">Prezime:</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="lastName" placeholder="Unesite prezime"
                        formControlName="lastName" />
                    <small class="text-danger"
                        *ngIf="f['lastName'].touched && f['lastName'].errors && f['lastName'].errors['required']">
                        Potrebno je da unesete Vaše prezime.</small>
                </div>
            </div>

            <div class="form-group row my_margin">
                <label for="birthDate" class="col-3 col-form-label">Datum rođenja:</label>
                <div class="col-6">
                    <input class="form-control" type="date" id="birthDate" placeholder="Unesite datum rođenja"
                        formControlName="birthDate" />
                    <small class="text-danger"
                        *ngIf="f['birthDate'].touched && f['birthDate'].errors && f['birthDate'].errors['required']">
                        Potrebno je da unesete Vaš datum rođenja.</small>
                </div>
            </div>

            <div class="form-group row my_margin">
                <label for="birthDate" class="col-3 col-form-label">Pol:</label>
                <div class="col-6">

                    <input id="male" type="radio" value="Musko" name="gender" formControlName="gender">
                    <label for="male" class="radio-margin">Muški</label>

                    <input id="female" type="radio" value="Zensko" name="gender" formControlName="gender">
                    <label for="female">Ženski</label>

                </div>
            </div>
            
            <div class="form-group row my_margin">
                <label for="place" class="col-3 col-form-label">Mesto podnošenja:</label>
                <div class="col-6">
                    <input class="form-control" type="text" id="place" placeholder="Mesto"
                    formControlName="place" />
                    <small class="text-danger"
                        *ngIf="f['place'].touched && f['place'].errors && f['place'].errors['required']">
                        Potrebno je da unesete mesto podnošenja.</small>
                </div>
            </div>

            <div class="form-group row my_margin">
                <label for="reason" class="col-3 col-form-label">Razlog za podnošenje:</label>
                <div class="col-6">
                    <div>
                        <ejs-richtexteditor id='iframeRTE' [toolbarSettings]='tools' [iframeSettings]='iframe' [height]='height'>
                            <ng-template #valueTemplate>
                                <p></p>
                            </ng-template>
                        </ejs-richtexteditor>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <button id="submit" class="btn" type="submit" [disabled]='checkSubmit()'>Podnesi zahtev</button>
</form>