<div class="drink-creation-label">Meta  Pretraga</div>
<div class="reactiveForm">
<p>Izabrati dokument za pretragu</p>
    <select [ngModel]="izabranDokument" (ngModelChange)="onChange($event)" name="sel2">
        <option [value]="dokument" *ngFor="let dokument of dokumenti">{{dokument}}</option>
    </select>
    <div style="margin-bottom: 25px;">
        <label for="searchText" class="col-3 col-form-label">Upit:</label>
        <div>
            <input class="form-control" type="text" id="searchText" placeholder="Unesite upit" [(ngModel)]="postavljenUpit" />
        </div>
    </div>
    <div class="form-group row my_margin" *ngIf="metaSearchResults">
        <table>
            <tr>
                <th>Šifra/Identifikator</th>
                <th></th>
                <th></th>
            </tr>

            <tr *ngFor="let result of metaSearchResults.Meta_search_results.Document_id">
                <td>{{result}}</td>
                <td>
                    <a (click)="getPdf(result)"><u>Prikaži/preuzmi pdf</u></a>
                </td>
                <td>
                    <a (click)="getHtml(result)"><u>Prikaži Html</u></a>
                </td>
            </tr>
        </table>
    </div>
    <button id="submit" (click)="search()">Pretraži</button>
</div>
