<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: red;">Sluzbenik</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="tablesLink" aria-current="page"
                        href="/sluzbenik-app/vakcina/status-vakcina">Status svih vakcina</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link active" id="tablesLink" aria-current="page"
                        href="/sluzbenik-app/izvestaji/pregled-izvestaja">Izvestaji</a>
                </li> 
            </ul>
            <app-header-common></app-header-common>
        </div>
    </div>
</nav>